ul.wi-container {
	position: relative;
	-webkit-perspective: 1400px;
	-moz-perspective: 1400px;
	-ms-perspective: 1400px;
	-o-perspective: 1400px;
	perspective: 1400px;
}
ul.wi-container li {
	pointer-events: auto;
	margin: 50px 0 0 0;
	position: absolute;
	display: none;
}
ul.wi-container li.wi-move {
	pointer-events: none;
	-webkit-transition: -webkit-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
	-moz-transition: -moz-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
	-ms-transition: -ms-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
	-o-transition: -o-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
	transition: transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
}
#nav-prev {
	position: absolute;
	height: 43px;
	width: 38px;
	left: 518px;
	top: 85px;
}
#nav-next {
	position: absolute;
	height: 43px;
	right: 388px;
	width: 38px;
	top: 85px;
}